.player-mark,
.stat-number {
  display: block;
  font-size: 1.3em;
}

.player-mark {
  display: flex;
  position: relative;
  align-items: center;
  width: 32px;
  height: 32px;
  background: var(--black);
  border-radius: 32px;
  transition: all 0.5s;
}

.player-mark span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 2px;
  width: 28px;
  height: 28px;
  background: var(--cyan);
  color: var(--black);
  border-radius: 50%;
  transition: all 0.5s;
}

.player-mark.current-player0,
.player-mark.current-player1{
  width: 52px;
}
.player-mark.current-player1 span {
  left: 20px;
}

.current-player0 span::after {
  content: 'O';
}

.current-player1 span::after {
  content: 'X';
}


#board {
  display: grid;
  min-width: 250px;
  min-height: 250px;
  margin: 30px auto;
  border: 1px solid var(--cyan);
  border-radius: 10px;
  overflow: hidden;
}

#board.x3{
  font-size: 3em;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
}

#board.x8{
  font-size: 1.5em;
  grid-template: repeat(8, 1fr)/repeat(8, 1fr);
}

#board.x10{
  grid-template: repeat(10, 1fr)/repeat(10, 1fr);
}

#board.x12{
  grid-template: repeat(12, 1fr)/repeat(12, 1fr);
}

#board .case {
  border: 1px solid var(--cyan-dark);
  animation: case-appear 2s cubic-bezier(0, 0.5, 0.75, 1);
}

.case::after {
  display: flex;
  width: 100%;
  height: 100%;
  color: var(--cyan);
  align-items: center;
  justify-content: center;
}

.cross::after {
  content: "X";
}

.rond::after {
  content: "O";
}

.case.win::after {
  background: var(--green);
  color: var(--cyan-light);
}

@keyframes case-appear{
  from{ transform: scale(2) rotate(360deg)}
  50%{ scale: 0.5}
  to{ transform: scale(1) rotate(0)}
}

.player-mark.win,
.player-mark.drawn {
  width: 32px;
  background: var(--cyan);
}

.player-mark.win span,
.player-mark.drawn span {
  left: 2px;
  background: var(--green);
  color: var(--cyan-light);
}

.player-mark.drawn {
}

.player-mark.drawn span::after {
  content: "#";
}

.player-mark.drawn span {
  background: var(--gray);
  color: var(--cyan);
}

.stats {
  padding: 10px;
  background: var(--black-44);
  border-radius: 10px;
}

.stat-number#win {
  color: var(--green);
}

.stat-number#lose {
  color: var(--gray);
}

.stat-number#drawn {
  color: var(--violet);
}

.recent {
  filter: drop-shadow(0px 0px 6px white);
  text-shadow: 0 0 5px black;
}
