@import url('base.css');

/* TIC TAC APP STYLE */
.tictac-app,
.tictac-home {
  z-index: 1;
  width: calc(100% - 10px);
  max-width: 600px;
  background: var(--violet-dark);
  margin: 20px auto;
  border-radius: 20px;
  text-align: center;
}

.tictac-app>* {
  width: 100%;
}

.tictac-app header {
  line-height: 24px;
}

.tictac-app li{
  flex-direction: column;
}

/* HOME STYLE */

#home {
  flex: 1;
  width: 100%;
  background:
    radial-gradient(150px at 25% 75%, var(--blue) 40.5%, var(--cyan-dark) 42.75%, transparent 45%),
    radial-gradient(150px at 75% 25%, transparent 40.5%, var(--cyan-dark) 42.75%, var(--blue) 45%),
    linear-gradient(135deg, transparent 46%, var(--cyan-dark) 47%, transparent 48%),
    linear-gradient(45deg, var(--blue) 74%, var(--cyan-dark) 75%, var(--blue) 76%);
  padding: 0;
  /* transition: all 0.8s; */
  -webkit-animation: blink 4s linear infinite;
  -o-animation: blink 4s linear infinite;
  animation: blink 4s linear infinite;
  /* overflow: hidden; */
}

@keyframes blink {
  from {
    background:
      radial-gradient(150px at 25% 75%, var(--blue) 40.5%, var(--cyan-dark) 42.75%, transparent 45%),
      radial-gradient(150px at 75% 25%, transparent 40.5%, var(--cyan-dark) 42.75%, var(--blue) 45%),
      linear-gradient(135deg, transparent 46%, var(--cyan-dark) 47%, transparent 48%),
      linear-gradient(45deg, var(--blue) 74%, var(--cyan-dark) 75%, var(--blue) 76%);
  }

  10% {
    background:
      radial-gradient(150px at 25% 75%, var(--blue) 40.5%, var(--cyan-dark) 42.75%, transparent 45%),
      radial-gradient(150px at 75% 25%, transparent 38.5%, var(--cyan-dark) 42.75%, var(--blue) 47%),
      linear-gradient(135deg, transparent 46%, var(--cyan-dark) 47%, transparent 48%),
      linear-gradient(45deg, var(--blue) 74%, var(--cyan-dark) 75%, var(--blue) 76%);
  }

  15% {
    background:
      radial-gradient(150px at 25% 75%, var(--blue) 38.5%, var(--cyan-dark) 42.75%, transparent 47%),
      radial-gradient(150px at 75% 25%, transparent 40.5%, var(--cyan-dark) 42.75%, var(--blue) 45%),
      linear-gradient(135deg, transparent 46%, var(--cyan-dark) 47%, transparent 48%),
      linear-gradient(45deg, var(--blue) 74%, var(--cyan-dark) 75%, var(--blue) 76%);
  }

  20% {
    background:
      radial-gradient(150px at 25% 75%, var(--blue) 40.5%, var(--cyan-dark) 42.75%, transparent 45%),
      radial-gradient(150px at 75% 25%, transparent 40.5%, var(--cyan-dark) 42.75%, var(--blue) 45%),
      linear-gradient(135deg, transparent 44%, var(--cyan-dark) 47%, transparent 50%),
      linear-gradient(45deg, var(--blue) 72%, var(--cyan-dark) 75%, var(--blue) 78%);
  }

  25% {
    background:
      radial-gradient(150px at 25% 75%, var(--blue) 38.5%, var(--cyan-dark) 42.75%, transparent 47%),
      radial-gradient(150px at 75% 25%, transparent 38.5%, var(--cyan-dark) 42.75%, var(--blue) 47%),
      linear-gradient(135deg, transparent 46%, var(--cyan-dark) 47%, transparent 48%),
      linear-gradient(45deg, var(--blue) 74%, var(--cyan-dark) 75%, var(--blue) 76%);
  }

  30% {
    background:
      radial-gradient(150px at 25% 75%, var(--blue) 40.5%, var(--cyan-dark) 42.75%, transparent 45%),
      radial-gradient(150px at 75% 25%, transparent 40.5%, var(--cyan-dark) 42.75%, var(--blue) 45%),
      linear-gradient(135deg, transparent 46%, var(--cyan-dark) 47%, transparent 48%),
      linear-gradient(45deg, var(--blue) 72%, var(--cyan-dark) 75%, var(--blue) 78%);
  }

  35% {
    background:
      radial-gradient(150px at 25% 75%, var(--blue) 38.5%, var(--cyan-dark) 42.75%, transparent 47%),
      radial-gradient(150px at 75% 25%, transparent 40.5%, var(--cyan-dark) 42.75%, var(--blue) 45%),
      linear-gradient(135deg, transparent 44%, var(--cyan-dark) 47%, transparent 50%),
      linear-gradient(45deg, var(--blue) 74%, var(--cyan-dark) 75%, var(--blue) 76%);
  }

  40% {
    background:
      radial-gradient(150px at 25% 75%, var(--blue) 40.5%, var(--cyan-dark) 42.75%, transparent 45%),
      radial-gradient(150px at 75% 25%, transparent 38.5%, var(--cyan-dark) 42.75%, var(--blue) 47%),
      linear-gradient(135deg, transparent 46%, var(--cyan-dark) 47%, transparent 48%),
      linear-gradient(45deg, var(--blue) 72%, var(--cyan-dark) 75%, var(--blue) 78%);
  }

  45% {
    background:
      radial-gradient(150px at 25% 75%, var(--blue) 40.5%, var(--cyan-dark) 42.75%, transparent 45%),
      radial-gradient(150px at 75% 25%, transparent 40.5%, var(--cyan-dark) 42.75%, var(--blue) 45%),
      linear-gradient(135deg, transparent 44%, var(--cyan-dark) 47%, transparent 50%),
      linear-gradient(45deg, var(--blue) 74%, var(--cyan-dark) 75%, var(--blue) 76%);
  }

  50% {
    background:
      radial-gradient(150px at 25% 75%, var(--blue) 38.5%, var(--cyan-dark) 42.75%, transparent 47%),
      radial-gradient(150px at 75% 25%, transparent 40.5%, var(--cyan-dark) 42.75%, var(--blue) 45%),
      linear-gradient(135deg, transparent 44%, var(--cyan-dark) 47%, transparent 50%),
      linear-gradient(45deg, var(--blue) 74%, var(--cyan-dark) 75%, var(--blue) 76%);
  }

  55% {
    background:
      radial-gradient(150px at 25% 75%, var(--blue) 38.5%, var(--cyan-dark) 42.75%, transparent 47%),
      radial-gradient(150px at 75% 25%, transparent 40.5%, var(--cyan-dark) 42.75%, var(--blue) 45%),
      linear-gradient(135deg, transparent 46%, var(--cyan-dark) 47%, transparent 48%),
      linear-gradient(45deg, var(--blue) 72%, var(--cyan-dark) 75%, var(--blue) 78%);
  }

  60% {
    background:
      radial-gradient(150px at 25% 75%, var(--blue) 40.5%, var(--cyan-dark) 42.75%, transparent 45%),
      radial-gradient(150px at 75% 25%, transparent 38.5%, var(--cyan-dark) 42.75%, var(--blue) 47%),
      linear-gradient(135deg, transparent 44%, var(--cyan-dark) 47%, transparent 50%),
      linear-gradient(45deg, var(--blue) 74%, var(--cyan-dark) 75%, var(--blue) 76%);
  }

  65% {
    background:
      radial-gradient(150px at 25% 75%, var(--blue) 40.5%, var(--cyan-dark) 42.75%, transparent 45%),
      radial-gradient(150px at 75% 25%, transparent 40.5%, var(--cyan-dark) 42.75%, var(--blue) 45%),
      linear-gradient(135deg, transparent 46%, var(--cyan-dark) 47%, transparent 48%),
      linear-gradient(45deg, var(--blue) 74%, var(--cyan-dark) 75%, var(--blue) 76%);
  }

  70% {
    background:
      radial-gradient(150px at 25% 75%, var(--blue) 38.5%, var(--cyan-dark) 42.75%, transparent 47%),
      radial-gradient(150px at 75% 25%, transparent 40.5%, var(--cyan-dark) 42.75%, var(--blue) 45%),
      linear-gradient(135deg, transparent 44%, var(--cyan-dark) 47%, transparent 50%),
      linear-gradient(45deg, var(--blue) 72%, var(--cyan-dark) 75%, var(--blue) 78%);
  }

  75% {
    background:
      radial-gradient(150px at 25% 75%, var(--blue) 40.5%, var(--cyan-dark) 42.75%, transparent 45%),
      radial-gradient(150px at 75% 25%, transparent 38.5%, var(--cyan-dark) 42.75%, var(--blue) 47%),
      linear-gradient(135deg, transparent 44%, var(--cyan-dark) 47%, transparent 50%),
      linear-gradient(45deg, var(--blue) 72%, var(--cyan-dark) 75%, var(--blue) 78%);
  }

  80% {
    background:
      radial-gradient(150px at 25% 75%, var(--blue) 38.5%, var(--cyan-dark) 42.75%, transparent 47%),
      radial-gradient(150px at 75% 25%, transparent 38.5%, var(--cyan-dark) 42.75%, var(--blue) 47%),
      linear-gradient(135deg, transparent 44%, var(--cyan-dark) 47%, transparent 50%),
      linear-gradient(45deg, var(--blue) 74%, var(--cyan-dark) 75%, var(--blue) 76%);
  }

  85% {
    background:
      radial-gradient(150px at 25% 75%, var(--blue) 38.5%, var(--cyan-dark) 42.75%, transparent 47%),
      radial-gradient(150px at 75% 25%, transparent 38.5%, var(--cyan-dark) 42.75%, var(--blue) 47%),
      linear-gradient(135deg, transparent 46%, var(--cyan-dark) 47%, transparent 48%),
      linear-gradient(45deg, var(--blue) 72%, var(--cyan-dark) 75%, var(--blue) 78%);
  }

  90% {
    background:
      radial-gradient(150px at 25% 75%, var(--blue) 40.5%, var(--cyan-dark) 42.75%, transparent 45%),
      radial-gradient(150px at 75% 25%, transparent 40.5%, var(--cyan-dark) 42.75%, var(--blue) 45%),
      linear-gradient(135deg, transparent 46%, var(--cyan-dark) 47%, transparent 48%),
      linear-gradient(45deg, var(--blue) 74%, var(--cyan-dark) 75%, var(--blue) 76%);
  }

  95% {
    background:
      radial-gradient(150px at 25% 75%, var(--blue) 38.5%, var(--cyan-dark) 42.75%, transparent 47%),
      radial-gradient(150px at 75% 25%, transparent 38.5%, var(--cyan-dark) 42.75%, var(--blue) 47%),
      linear-gradient(135deg, transparent 44%, var(--cyan-dark) 47%, transparent 50%),
      linear-gradient(45deg, var(--blue) 72%, var(--cyan-dark) 75%, var(--blue) 78%);
  }

  to {
    background:
      radial-gradient(150px at 25% 75%, var(--blue) 40.5%, var(--cyan-dark) 42.75%, transparent 45%),
      radial-gradient(150px at 75% 25%, transparent 40.5%, var(--cyan-dark) 42.75%, var(--blue) 45%),
      linear-gradient(135deg, transparent 46%, var(--cyan-dark) 47%, transparent 48%),
      linear-gradient(45deg, var(--blue) 74%, var(--cyan-dark) 75%, var(--blue) 76%);
  }
}

#home .btns-container {
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px;
}

#home .btns-container .btn-item {
  min-width: 50%;
  width: 200px;
  max-width: 90%;
  background: var(--violet-dark);
  color: var(--cyan);
  padding: 10px 30px;
  margin: 10px;
  border: 0;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  border-bottom: 5px solid var(--black-88);
  border-right: 5px solid var(--black-44);
}

#home .btns-container .btn-item:active {
  border: 0;
  margin: 15px 10px 10px 15px;
}

/* ABOUT CONTAINER STYLE */

.about-container{
  /* z-index: -1; */
  position: absolute;
  /* display: none; */
  background: none;
  padding: 0;
  min-height: 100%;
}

.about-container>header {
  position: fixed;
  top: 0%;
  transform: translateY(-100%);
  padding: 10px;
  border-bottom: 2px solid var(--cyan);
  transition: all 1.6s ease-in-out;
}

.title-game {
  font-size: 14px;
}

.title-game h1 {
  font-size: 28px;
}

#toggle-menu {
  padding: 10px;
}

#toggle-menu img {
  width: 24px;
}

.about-container>nav {
  position: fixed;
  flex: 1 0 auto;
  top: -100%;
  height: 100%;
  background: var(--black-88);
  font-size: 24px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  flex-flow: column wrap;
  width: 100%;
  min-height: 60%;
  color: var(--cyan);
}

.nav ul li{
  flex: 1 1 auto;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 10px;
}

.nav li img{
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.about-container>footer {
  position: fixed;
  bottom: 0%;
  transform: translateY(100%);
  background: var(--black-88);
  padding: 0 20px 20px;
  border-top: 2px solid var(--cyan);
  transition: all 0.3s ease-in-out;
}

.about-container>footer p {
  line-height: 24px;
}

.about-container>footer p span {
  display: block;
  font-weight: 700;
}

.social {
  flex: 1 0 0;
  background: var(--violet-dark);
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
}

.social a {
  text-decoration: none;
  color: var(--cyan);
}

.social img{
  width: 24px
}

.nav-appear, .header-appear, .footer-appear{
  /* z-index: 2; */
}

.nav-appear {
  transform: translateY(100%);
}

.header-appear {
  z-index: 2;
  transform: translateY(0%) !important;
}

.footer-appear {
  transform: translateY(0%) !important;
}

/* OTHERS STYLES */

.invisible,
#home.invisible {
  z-index: -3;
  /* transition: all 0.3s; */
  animation: disappear 0.3s ease-in-out forwards;
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  90%{
    opacity: 0;
  }
  to {
    display: none;
    opacity: 0;
  }
}

.game-appear {
  transition: all 0.3s;
  -webkit-animation: gameAppear 0.5s ease-in-out ;
  -o-animation: gameAppear 0.5s ease-in-out ;
  animation: gameAppear 4s ease-in-out ;
}

@keyframes gameAppear {
  from {
    opacity: 0;
    scale: 3;
  }
  /* 66%{
    scale: 1;
  } */
  83%{
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.popup{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  max-width: 90%;
  max-height: 60%;
  background: var(--cyan);
  color: var(--violet);
  border-radius: 10px;
  animation: popup-appear 0.3s cubic-bezier(1, 1.5, 0.8, 0.81)    forwards;
}

.mark-group input[type="radio"]{
  display: none;
}
.mark-group label{
  display: inline-block;
  padding: 10px;
  border: 1px solid var(--black);
  border-radius: 5px;
}
.mark-group input[type="radio"]:checked + label{
  background: var(--black-44);
}
@-webkit-keyframes popup-appear {
  from { scale: 0; }
  to { scale: 1; }
}
@-o-keyframes popup-appear {
  from { scale: 0; }
  to { scale: 1; }
}
@keyframes popup-appear {
  from { scale: 0; }
  to { scale: 1; }
}
.form-popup{
  width: 100%;
  height: 100%;
  padding: 20px;
}
